
.installed.cfg
*.py[cod]
*$py.class
*.so
*.egg-info
*.egg-info/
*.egg
.eggs/
.Python
__pycache__/
build/
develop-eggs/
dist/
eggs/
share/python-wheels/
wheels/

dacey/__pycache__/
dacey/*.py[cod]
dacey/*$py.class